@use "sass:math";

@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/animations";
@import "./base/typo";
@import "./base/titres";
@import "./layout/footer";
@import "./layout/body";
@import "./layout/heart";
@import "./pages/localisation";
@import "./pages/intro-anim";
@import "./pages/introduction";
@import "./pages/fonctionnement";
@import "./pages/restaurants";

header {
    a {
        position: absolute;
        height: 44px;
        display: flex;
        align-items: center;
        margin-left: 10%;
        font-size: 20px;
        color: lighten($color-04, 20);
        text-decoration: none;
    }
}

.photo-resto {
    position: absolute;
    z-index: 1;
    height: 265px;
    overflow: hidden;
    margin-top: -220px;
    img {
        width: 110%;
        transform: translate(-5%, 0%);
    }
}

h4 {
    font-family: $font;
    font-size: 16px;
    font-weight: 300;
    color: $color-04;
    text-transform: uppercase;
    margin: 40px 0 5px 2%;
}

h5 {
    font-family: $font;
    font-size: 18px;
    font-weight: 400;
    color: $color-04;
    margin: 0;
}

.underline {
    height: 3px;
    width: 40px;
    background-color: $color-03;
    margin: 0 0 0 2%;
}

.menu {
    position: relative;
    z-index: 2;
    background-color: lighten($color-04, 95);
    border-radius: 35px 35px 0 0;
    margin-top: 235px;
    &-nom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 10% 0 5%;
        padding-top: 30px;
        h1 {
            margin: 0;
        }
    }
    &-partie {
        margin: 0 3%;
        &-bloc {
            height: 46.5px;
            background-color: lighten($color-04, 100);
            padding: 10px 0 10px 12px;
            border-radius: 20px;
            margin-top: 15px;
            position: relative;
            z-index: 1;
            &-txt {
                width: 75%;
                position: absolute;
                z-index: 1;
                p {
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 0;
                    padding-top: 5px;
                    font-family: $font;
                    font-size: 15px;
                    font-weight: 300;
                    color: $color-04;
                }
                h5 {
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .tarif {
                width: 114.5%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                position: absolute;
                z-index: 2;
                margin-top: -10px;
                &-prix {
                    margin: 27.5px 25px 0 0;
                    font-family: $font;
                    font-size: 15px;
                    font-weight: 700;
                    color: $color-04;
                }
                &-check {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    width: 60px;
                    height: 66.5px;
                    color: lighten($color-04, 100);
                    background-color: $color-03;
                    border-radius: 0 20px 20px 0;
                }
            }
            &:hover {
                .menu-partie-bloc-txt {
                    width: 60%;
                }
                .tarif {
                    width: 97%;
                }
            }
        }
    }
}