@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap');


$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-quaternary: #353535;

$load-bar-dur: 1000ms;
$load-bar-delay: 1000ms;

.ohmyfood {
    width: 100%;
    margin: 0;
}

/*.loading {
    width: 89%;
    height: 50px;
    margin: 80% 5%;
    border: 2px solid $color-primary;
    position: absolute;
    z-index: 2;
    &__bar {
        height: 40px;
        margin: 5px;
        background-color: $color-secondary;
        transform-origin: left;
        transform: scaleX(0.5);
        animation: loading-bar $load-bar-dur $load-bar-delay;
        animation-fill-mode: both;
    }
}

@keyframes loading-bar{
    0% {
        transform: scaleX(0);
        opacity: .1;
    }
    17% {
        transform: scaleX(.18);
    }
    24% {
        transform: scaleX(.4);
    }
    46% {
        transform: scaleX(.81);
    }
    85%,100% {
        opacity: 1;
    }
    100% {
        transform: scaleX(1);
    }
}*/

.website {
    position: relative;
    z-index: 1;
}

h1 {
    font-family: shrikhand, cursive;
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
    padding: 0;
}