footer {
    background-color: lighten($color-04, 25);
    height: 210px;
    font-family: $font;
    font-size: 16px;
    color: lighten($color-04, 100);
    @media (min-width: $ipad) {
        height: auto;
        padding-bottom: 40px;
    }
    img {
        height: 18px;
        padding: 20px 5% 10px 5%;
        margin: 0;
    }
}

.footer-info {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    a {
        margin: 0;
        padding-top: 10px;
        text-decoration: none;
        color: lighten($color-04, 100);
    }
    &-bloc {
    display: flex;
    font-weight: 700;
    padding-top: 10px;
    a {
        padding-top: 0;
    }
    i {
        width: 20px;
        padding-right: 10px;
    }
    }
    @media (min-width: $ipad) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        &-info{
            padding-top: 0;
        }
    }
}