@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
@keyframes loading-bar {
  0% {
    transform: scaleY(0);
    opacity: 0.1;
  }
  17% {
    transform: scaleY(0.18);
  }
  24% {
    transform: scaleY(0.4);
  }
  46% {
    transform: scaleY(0.81);
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes start {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes heart {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}
h1 {
  font-family: shrikhand, cursive;
  font-size: 30px;
  text-align: center;
  margin: 20px 0 15px 0;
  padding: 0;
}

h2 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

footer {
  background-color: #404040;
  height: 210px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: white;
}
@media (min-width: 800px) {
  footer {
    height: auto;
    padding-bottom: 40px;
  }
}
footer h4 {
  font-family: shrikhand, cursive;
  font-size: 18px;
  padding: 20px 5% 10px 5%;
  margin: 0;
}

.menu {
  padding: 0 5%;
}
.menu p {
  margin: 0;
  padding: 10px 0;
}
.menu a {
  margin: 0;
  text-decoration: none;
  color: white;
}
.menu-info {
  display: flex;
  font-weight: 700;
  padding-top: 10px;
}
.menu-info p {
  padding: 0;
}
.menu-info i {
  width: 20px;
  padding-right: 10px;
}
@media (min-width: 800px) {
  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .menu-info {
    padding-top: 0;
  }
}

.ohmyfood {
  width: 100%;
  margin: 0;
}

.empty-heart {
  color: #000000;
  position: absolute;
  z-index: 2;
}
.empty-heart:hover {
  opacity: 0;
  color: #9356DC;
}
.empty-heart:hover + .full-heart i {
  background: linear-gradient(to top, #FF79DA, #9356DC, transparent 50%);
  background-clip: text;
  animation: heart 0.75s both;
  background-size: auto 60px;
}

.full-heart i {
  position: relative;
  z-index: 1;
  opacity: 1;
  color: transparent;
}

.localisation {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#cccccc 0%, #e6e6e6 15%);
  color: #333333;
}
.localisation p {
  margin: 0;
  width: 150px;
}
.localisation input {
  color: #333333;
  border: none;
  background-color: transparent;
  margin-left: 15px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.localisation input:focus {
  outline-style: none;
}

.loading {
  width: 100%;
  margin-top: 150px;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.loading-bar {
  height: 200px;
  width: 50px;
  margin: 0;
  z-index: 2;
  transform-origin: bottom;
  transform: scaleY(0.5);
  animation: loading-bar 2.5s;
  animation-fill-mode: both;
}
.loading-bar-1 {
  animation-delay: 0.8333333333s;
}
.loading-bar-2 {
  animation-delay: 1.6666666667s;
}
.loading-bar-3 {
  animation-delay: 2.5s;
}
.loading-bar-1 {
  background-color: #9356DC;
}
.loading-bar-2 {
  background-color: #FF79DA;
}
.loading-bar-3 {
  background-color: #99E2D0;
}
.loading h1 {
  position: absolute;
  z-index: 4;
  margin-top: 210px;
}

.app {
  width: 200px;
  position: absolute;
  z-index: 3;
}

.website {
  position: absolute;
  z-index: 5;
  animation: start 1s 3.8333333333s both;
}

#introduction {
  height: 285px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
#introduction h2 {
  padding-top: 30px;
  width: 75%;
}
#introduction p {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding: 20px 0;
}
#introduction a {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: white;
  background: linear-gradient(-5deg, #9356DC 20%, #FF79DA);
  padding: 15px 25px;
  margin-bottom: 40px;
  border-radius: 25px;
  box-shadow: #b3b3b3 0 5px 10px;
}
#introduction a:hover {
  background: linear-gradient(-5deg, #a16be0 20%, #ff93e1);
  box-shadow: #999999 0 5px 10px;
}

#fonctionnement {
  height: 440px;
  margin: 0 5%;
}
#fonctionnement h2 {
  padding: 50px 0 10px 0;
}
@media (min-width: 800px) {
  #fonctionnement {
    display: flex;
    justify-content: space-between;
    height: 250px;
  }
  #fonctionnement h2 {
    position: absolute;
    padding: 40px 0 10px 0;
  }
}

.step {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.step .cercle {
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  position: absolute;
  z-index: 2;
}
.step p {
  margin: 15% 0;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: white;
}
.step-bloc {
  display: flex;
  align-items: center;
  width: 98%;
  height: 75px;
  margin-left: 12.5px;
  background-color: #fafafa;
  border-radius: 20px;
  box-shadow: #b3b3b3 0 5px 10px;
  position: relative;
  z-index: 1;
}
.step-bloc i {
  width: 20px;
  color: gray;
  margin-left: 30px;
}
.step-bloc p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin-left: 20px;
}
.step-bloc-final {
  background-color: #f2eafb;
}
.step-bloc-final i {
  color: #9356DC;
}
@media (min-width: 800px) {
  .step {
    width: 30%;
    margin-top: 50px;
  }
  .step-bloc {
    justify-content: space-between;
  }
  .step-bloc i {
    margin-left: 15%;
  }
  .step-bloc p {
    width: 80%;
    margin: 0 5px 0 0;
  }
}

#restaurants {
  height: 1230px;
  background-color: #f2f2f2;
}
@media (min-width: 800px) {
  #restaurants {
    height: auto;
    padding-bottom: 40px;
  }
}

.choix-resto {
  margin: 0 5%;
}
.choix-resto h2 {
  padding: 60px 0 15px 0;
}
.choix-resto a {
  text-decoration: none;
  color: #000000;
  font-family: Roboto, sans-serif;
}
@media (min-width: 800px) {
  .choix-resto h2 {
    padding: 40px 0 15px 0;
  }
  .choix-resto a {
    width: 48.5%;
  }
}

.propal-resto {
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .propal-resto {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.resto {
  height: 250px;
  border-radius: 20px;
  background-color: white;
  margin: 20px 0 0 0;
  padding: 0;
  box-shadow: #b3b3b3 0 0 10px;
}
.resto-crop {
  position: relative;
  z-index: 1;
  height: 175px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.resto-crop img {
  width: 105%;
  transform: translate(-2%, -25%);
}
@media (min-width: 600px) and (max-width: 799px) {
  .resto-crop img {
    transform: translate(-2%, -35%);
  }
}
@media (min-width: 1100px) {
  .resto-crop img {
    transform: translate(-2%, -37.5%);
  }
}
.resto-crop-vertical img {
  transform: translate(-2%, -37%);
}
.resto-new {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  width: 90%;
}
@media (min-width: 800px) {
  .resto-new {
    width: 43.5%;
  }
}
.resto-new p {
  margin: 10px;
  padding: 7px 12.5px;
  background-color: #99E2D0;
  border-radius: 3px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #278870;
}
.resto-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0 10px;
}
.resto-info-txt p {
  margin: 0;
  padding-top: 5px;
  font-size: 17px;
  font-weight: 300;
}
.resto-info-fav {
  font-size: 20px;
  padding-top: 10px;
}

/*# sourceMappingURL=style.css.map */
