@charset "UTF-8";
/* ---------- COULEURS ---------- */
/* ----- COULEURS DU SITE ----- */
/* ----- PERMET DE COLORER LES BARRES DE CHARGEMENT ----- */
/* ---------------------------------------------------------------- */
/* ---------- TYPOGRAPHIE ---------- */
/* ---------------------------------------------------------------- */
/* ---------- VARIABLES POUR APPARITION SITE WEB ---------- */
/* ---------------------------------------------------------------- */
/* ---------- VARIABLES POUR APPARITION CHOIX MENU ---------- */
/* ---------------------------------------------------------------- */
/* ---------- VARIABLES POUR TAILLE ÉCRAN ---------- */
/* ---------- BOUTON ---------- */
/* ---------------------------------------------------------------- */
/* ---------- FAVORIS OR NOT FAVORIS ---------- */
/* ----- PAS FAVORIS ----- */
/* ----- PAS FAVORIS ----- */
/* ---------------------------------------------------------------- */
/* ---------- CHOIX D'UN(E) ENTRÉE / PLAT / DESSERT ---------- */
/* ---------------------------------------------------------------- */
/* ---------- APPARITION DES CHOIX MENU ---------- */
/* ---------- ANIMATION CHARGEMENT DU SITE ---------- */
/* ----- BARRE CHARGEMENT DU SITE ----- */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
@keyframes loading-bar {
  0% {
    transform: scaleY(0);
    opacity: 0.1;
  }
  17% {
    transform: scaleY(0.18);
  }
  24% {
    transform: scaleY(0.4);
  }
  46% {
    transform: scaleY(0.81);
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
  }
}
/* ----- APPARITION DU SITE ----- */
@keyframes start {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
/* ---------------------------------------------------------------- */
/* ---------- ANIMATION REMPLISSAGE DU COEUR ---------- */
@keyframes heart {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}
/* ---------------------------------------------------------------- */
/* ---------- ANIMATION DU TARIF SÉLECTIONNÉ ---------- */
/* ----- APPARITION BLOC CHECK ----- */
@keyframes choice-in {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-60px);
  }
}
@keyframes choice-out {
  0% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(0);
  }
}
/* ----- ROTATION DU CHECK ----- */
@keyframes turn-in {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(2turn);
  }
}
/* ----- CROP AVEC ... DU TEXTE ----- */
@keyframes txt-space-in {
  0% {
    width: 82%;
  }
  100% {
    width: 65%;
  }
}
@keyframes txt-space-out {
  0% {
    width: 65%;
  }
  100% {
    width: 82%;
  }
}
/* ---------------------------------------------------------------- */
/* ---------- APPARITION CHOIX MENU ---------- */
@keyframes bloc-start {
  0% {
    opacity: 0;
    margin-top: 25px;
  }
  100% {
    opacity: 1;
    margin-top: 15px;
  }
}
h1 {
  font-family: shrikhand, cursive;
  font-size: 30px;
  text-align: center;
  margin: 20px 0 15px 0;
  padding: 0;
}

h2 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

h4 {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  text-transform: uppercase;
  margin: 40px 0 5px 2%;
}

/* ---------- ÉLÉMENT QUI PERMET DE SOULIGNER H4 ---------- */
.underline {
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  margin: 0 0 0 2%;
}

/* -------------------------------------------------------- */
h5 {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  margin: 0;
}

footer {
  background-color: #404040;
  height: 210px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: white;
}
@media (min-width: 768px) {
  footer {
    height: auto;
    padding-bottom: 40px;
  }
}
footer img {
  height: 18px;
  padding: 20px 5% 10px 5%;
  margin: 0;
}

.footer-info {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}
.footer-info a {
  margin: 0;
  padding-top: 10px;
  text-decoration: none;
  color: white;
}
.footer-info-bloc {
  display: flex;
  font-weight: 700;
  padding-top: 10px;
}
.footer-info-bloc a {
  padding-top: 0;
}
.footer-info-bloc i {
  width: 20px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .footer-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .footer-info-info {
    padding-top: 0;
  }
}

.ohmyfood {
  width: 100%;
  margin: 0;
}

/* ---------- CLASSES POUR ANIM FAVORIS ---------- */
.empty-heart {
  color: #000000;
  position: absolute;
  z-index: 2;
}
.empty-heart:hover {
  opacity: 0;
  color: #9356DC;
}
.empty-heart:hover + .full-heart i {
  background: linear-gradient(to top, #FF79DA, #9356DC, transparent 50%);
  background-clip: text;
  -webkit-background-clip: text;
  animation: heart 0.75s both;
  background-size: auto 60px;
}

.full-heart i {
  position: relative;
  z-index: 1;
  opacity: 1;
  color: transparent;
}

header {
  position: relative;
}
header a {
  position: absolute;
  height: 44px;
  display: flex;
  align-items: center;
  margin-left: 5%;
  font-size: 20px;
  color: #333333;
  text-decoration: none;
}

/* ---------- BLOC LOCALISATION PAGE D'ACCUEIL ---------- */
.localisation {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#cccccc 0%, #e6e6e6 15%);
  color: #333333;
}
.localisation p {
  margin: 0;
  width: 150px;
}
.localisation input {
  color: #333333;
  border: none;
  background-color: transparent;
  margin-left: 15px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.localisation input:focus {
  outline-style: none;
}

/* ---------- ANIMATION INTRO ---------- */
/* ----- BARRES DE COULEUR DERRIÈRE APP + LOGO ----- */
.loading {
  width: 100%;
  margin-top: 150px;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.loading-bar {
  height: 200px;
  width: 50px;
  margin: 0;
  z-index: 2;
  transform-origin: bottom;
  transform: scaleY(0.5);
  animation: loading-bar 2.5s both;
}
.loading-bar-1 {
  animation-delay: 0.8333333333s;
  background-color: #9356DC;
}
.loading-bar-2 {
  animation-delay: 1.6666666667s;
  background-color: #FF79DA;
}
.loading-bar-3 {
  animation-delay: 2.5s;
  background-color: #99E2D0;
}
.loading h1 {
  position: absolute;
  z-index: 4;
  margin-top: 210px;
}

/* ----- SVG DE L'APPLI ----- */
.app {
  width: 200px;
  position: absolute;
  z-index: 3;
}

/* ----- CONTENU DE LA PAGE D'ACCEUIL ----- */
.website {
  position: absolute;
  z-index: 5;
  animation: start 1s 3.8333333333s both;
}

/* ---------- BLOC INTRODUCTION PAGE D'ACCUEIL ---------- */
#introduction {
  height: 285px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
#introduction h2 {
  padding-top: 30px;
  width: 75%;
}
#introduction p {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding: 20px 0;
}
#introduction a {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: white;
  background: linear-gradient(-5deg, #9356DC 20%, #FF79DA);
  padding: 15px 25px;
  margin-bottom: 40px;
  border-radius: 25px;
  box-shadow: #b3b3b3 0 5px 10px;
}
#introduction a:hover {
  background: linear-gradient(-5deg, #a16be0 20%, #ff93e1);
  box-shadow: #999999 0 5px 10px;
}

/* ---------- BLOC FONCTIONNEMENT PAGE D'ACCUEIL ---------- */
/* ----- TITRE ----- */
#fonctionnement {
  height: 440px;
  margin: 0 5%;
}
#fonctionnement h2 {
  padding: 50px 0 10px 0;
}
@media (min-width: 768px) {
  #fonctionnement {
    display: flex;
    justify-content: space-between;
    height: 250px;
  }
  #fonctionnement h2 {
    position: absolute;
    padding: 40px 0 10px 0;
  }
}

/* ----- ÉTAPES DU FONCTIONNEMENT ----- */
.step {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.step .cercle {
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  position: absolute;
  z-index: 2;
}
.step p {
  margin: 15% 0;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: white;
}
.step-bloc {
  display: flex;
  align-items: center;
  width: 98%;
  height: 75px;
  margin-left: 12.5px;
  background-color: #fafafa;
  border-radius: 20px;
  box-shadow: #b3b3b3 0 5px 10px;
  position: relative;
  z-index: 1;
}
.step-bloc i {
  width: 20px;
  color: gray;
  margin-left: 30px;
}
.step-bloc p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin-left: 20px;
}
.step-bloc-final {
  background-color: #f2eafb;
}
.step-bloc-final i {
  color: #9356DC;
}
@media (min-width: 768px) {
  .step {
    width: 30%;
    margin-top: 50px;
  }
  .step-bloc {
    justify-content: space-between;
  }
  .step-bloc i {
    margin-left: 15%;
  }
  .step-bloc p {
    width: 80%;
    margin: 0 5px 0 0;
  }
}

/* ---------- BLOC AVEC LES RESTAURANTS PAGE D'ACCUEIL ---------- */
#restaurants {
  height: 1230px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  #restaurants {
    height: auto;
    padding-bottom: 40px;
  }
}

/* ----- BLOC TITRE + PROPOSITION RESTO ----- */
.choix-resto {
  margin: 0 5%;
}
.choix-resto h2 {
  padding: 60px 0 15px 0;
}
.choix-resto a {
  text-decoration: none;
  color: #000000;
  font-family: Roboto, sans-serif;
}
@media (min-width: 768px) {
  .choix-resto h2 {
    padding: 40px 0 15px 0;
  }
  .choix-resto a {
    width: 48.5%;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .choix-resto a {
    width: 30%;
  }
}

/* ----- PROPOSITION DE RESTO ----- */
.propal-resto {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .propal-resto {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* ----- VIGNETTE RESTO ----- */
.resto {
  height: 250px;
  border-radius: 20px;
  background-color: white;
  margin: 20px 0 0 0;
  padding: 0;
  box-shadow: #b3b3b3 0 0 10px;
}
.resto-crop {
  position: relative;
  z-index: 1;
  height: 175px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.resto-crop img {
  width: 105%;
  transform: translate(-2%, -25%);
}
@media (min-width: 1024px) {
  .resto-crop img {
    transform: translate(-2%, 0%);
  }
}
@media (min-width: 1200px) {
  .resto-crop img {
    transform: translate(-2%, -20%);
  }
}
.resto-crop-vertical img {
  transform: translate(-2%, -37%);
}
.resto-new {
  /* ----- BLOC POUR LES NOUVEAUX RESTO ----- */
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  width: 90%;
}
@media (min-width: 768px) {
  .resto-new {
    width: 43.5%;
  }
}
@media (min-width: 1024px) {
  .resto-new {
    width: 27%;
  }
}
.resto-new p {
  margin: 10px;
  padding: 7px 12.5px;
  background-color: #99E2D0;
  border-radius: 3px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #278870;
}
.resto-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0 10px;
}
.resto-info-txt p {
  margin: 0;
  padding-top: 5px;
  font-size: 17px;
  font-weight: 300;
}
.resto-info-fav {
  font-size: 20px;
  padding-top: 10px;
}

/* ---------- PHOTO RESTO POUR MENU ---------- */
.photo-resto {
  height: 265px;
  overflow: hidden;
}
.photo-resto img {
  width: 110%;
  transform: translate(-5%, 0%);
}
@media (min-width: 500px) and (max-width: 768px) {
  .photo-resto img {
    transform: translate(-2%, -30%);
  }
}
@media (min-width: 768px) {
  .photo-resto img {
    transform: translate(-2%, -40%);
  }
}
.photo-resto-vertical img {
  /* ----- VARIANTE POUR PHOTO VERTICALE ----- */
  width: 100%;
  transform: translate(0%, -20%);
}
@media (min-width: 500px) and (max-width: 768px) {
  .photo-resto-vertical img {
    transform: translate(0%, -40%);
  }
}
@media (min-width: 768px) {
  .photo-resto-vertical img {
    transform: translate(0%, -45%);
  }
}

/* ---------- MENU DU RESTO ---------- */
.menu {
  position: relative;
  z-index: 2;
  height: 1200px;
  background-color: #f2f2f2;
  border-radius: 35px 35px 0 0;
  margin-top: -40px;
}
.menu .menu-partie-bloc {
  animation: bloc-start 1s both;
}
.menu .menu-partie-bloc01 {
  animation-delay: 0.2s;
}
.menu .menu-partie-bloc02 {
  animation-delay: 0.4s;
}
.menu .menu-partie-bloc03 {
  animation-delay: 0.6s;
}
.menu .menu-partie-bloc04 {
  animation-delay: 0.8s;
}
.menu-nom {
  /* ---------- ENTRÉES / PLATS / DESSERTS ---------- */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10% 0 5%;
  padding-top: 30px;
}
.menu-nom h1 {
  font-size: 28px;
  margin: 0;
}
.menu-partie {
  /* ---------- GROUPE ENTRÉES / PLATS / DESSERTS ---------- */
  margin: 0 3%;
}
.menu-partie-bloc {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 46.5px;
  background-color: white;
  padding: 10px 12px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: #cccccc 0 0 10px;
}
.menu-partie-bloc .menu-partie-bloc-txt {
  animation: txt-space-out 0.5s forwards;
}
.menu-partie-bloc .tarif {
  animation: choice-out 0.5s forwards;
}
.menu-partie-bloc-txt {
  width: 83%;
}
.menu-partie-bloc-txt p {
  margin: 0;
  padding-top: 5px;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #000000;
}
.menu-partie-bloc-txt > * {
  /* ---------- PERMET AUX TEXTES DE SE CONTRACTER AVEC ... ---------- */
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-partie-bloc .tarif {
  /* ---------- BLOC PRIX AVEC ANIMATION ---------- */
  position: absolute;
  z-index: 2;
  width: calc(100% + 60px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: -12px;
}
.menu-partie-bloc .tarif-prix {
  margin: 27.5px 20px 0 0;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #4d4d4d;
}
.menu-partie-bloc .tarif-check {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 60px;
  height: 46.5px;
  padding: 10px 0;
  color: white;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
}
.menu-partie-bloc:hover .menu-partie-bloc-txt {
  animation: txt-space-in 0.5s forwards;
}
.menu-partie-bloc:hover .tarif {
  animation: choice-in 0.5s forwards;
}
.menu-partie-bloc:hover .tarif i {
  animation: turn-in 0.5s forwards;
}
.menu a {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: white;
  background: linear-gradient(-5deg, #9356DC 20%, #FF79DA);
  padding: 15px 25px;
  margin-bottom: 40px;
  border-radius: 25px;
  box-shadow: #b3b3b3 0 5px 10px;
  display: flex;
  justify-content: center;
  width: 185px;
  margin: 50px auto;
}
.menu a:hover {
  background: linear-gradient(-5deg, #a16be0 20%, #ff93e1);
  box-shadow: #999999 0 5px 10px;
}
@media (min-width: 768px) {
  .menu {
    /* ---------- MODIF À 768 DE LARGE ---------- */
    height: auto;
    padding-bottom: 20px;
  }
  .menu-partie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .menu-partie-titre {
    width: 100%;
  }
  .menu-partie-bloc {
    width: 45%;
  }
  .menu a {
    margin: 60px auto;
  }
}
@media (min-width: 1024px) {
  .menu {
    /* ---------- MODIF À 1024 DE LARGE ---------- */
    height: auto;
    padding-bottom: 20px;
  }
  .menu-partie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .menu-partie-titre {
    width: 100%;
  }
  .menu-partie-bloc {
    width: 30%;
  }
  .menu a {
    margin: 60px auto;
  }
}

/*# sourceMappingURL=style.css.map */
