
/* ---------- ANIMATION INTRO ---------- */

/* ----- BARRES DE COULEUR DERRIÈRE APP + LOGO ----- */

.loading {
    width: 100%;
    margin-top: 150px;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    &-bar {
        height: 200px;
        width: 50px;
        margin: 0;
        z-index: 2;
        transform-origin: bottom;
        transform: scaleY(0.5);
        animation: loading-bar $load-dur both;
        @each $index, $color in $colors {
            &-#{$index} {
                animation-delay: $load-delay * $index;
                background-color: $color;
            }
        }
        
    }
    h1 {
        position: absolute;
        z-index: 4;
        margin-top: 210px;
    }
}

/* ----- SVG DE L'APPLI ----- */

.app {
    width: 200px;
    position: absolute;
    z-index: 3;
}

/* ----- CONTENU DE LA PAGE D'ACCEUIL ----- */

.website {
    position: absolute;
    z-index: 5;
    animation: start 1s $start-delay both;
}