
/* ---------- PHOTO RESTO POUR MENU ---------- */

.photo-resto {
    height: 265px;
    overflow: hidden;
    img {
        width: 110%;
        transform: translate(-5%, 0%);
        @media (min-width: 500px) and (max-width: $ipad) {
            transform: translate(-2%, -30%);
        }
        @media (min-width: $ipad) {
            transform: translate(-2%, -40%);
        }
    }
    &-vertical img { /* ----- VARIANTE POUR PHOTO VERTICALE ----- */
        width: 100%;
        transform: translate(0%, -20%);
        @media (min-width: 500px) and (max-width: $ipad) {
            transform: translate(0%, -40%);
        }
        @media (min-width: $ipad) {
            transform: translate(0%, -45%);
        }
    }
}

/* ---------- MENU DU RESTO ---------- */

.menu {
    @include apparition-bloc;
    position: relative;
    z-index: 2;
    height: 1200px;
    background-color: lighten($color-04, 95);
    border-radius: 35px 35px 0 0;
    margin-top: -40px;
    &-nom { /* ---------- ENTRÉES / PLATS / DESSERTS ---------- */
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 10% 0 5%;
        padding-top: 30px;
        @media (min-width: $big-screen) {
            margin: 0 auto;
            max-width: 1400px;
        }
        h1 {
            font-size: 28px;
            margin: 0;
        }
    }
    &-partie { /* ---------- GROUPE ENTRÉES / PLATS / DESSERTS ---------- */
        margin: 0 3%;
        @media (min-width: $big-screen) {
            margin: 0 auto;
            max-width: 1400px;
        }
        &-bloc {
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            height: 46.5px;
            background-color: lighten($color-04, 100);
            padding: 10px 12px;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: lighten($color-04, 80) 0 0 10px;
            @include choice-mov-out;
            &-txt {
                width: 83%;
                p {
                    margin: 0;
                    padding-top: 5px;
                    font-family: $font;
                    font-size: 15px;
                    font-weight: 300;
                    color: $color-04;
                }
                &>* { /* ---------- PERMET AUX TEXTES DE SE CONTRACTER AVEC ... ---------- */
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .tarif { /* ---------- BLOC PRIX AVEC ANIMATION ---------- */
                position: absolute;
                z-index: 2;
                width: calc(100% + 60px);
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-left: -12px;
                &-prix {
                    margin: 27.5px 20px 0 0;
                    font-family: $font;
                    font-size: 15px;
                    font-weight: 700;
                    color: lighten($color-04, 30);
                }
                &-check {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    width: 60px;
                    height: 46.5px;
                    padding: 10px 0;
                    color: lighten($color-04, 100);
                    background-color: $color-03;
                    border-radius: 0 15px 15px 0;
                }
            }
            &:hover {
                @include choice-mov-in;
            }
        }
    }
    a {
        @include bouton();
        display: flex;
        justify-content: center;
        width: 185px;
        margin: 50px auto;
    }
    @media (min-width: $ipad) { /* ---------- MODIF À 768 DE LARGE ---------- */
        height: auto;
        padding-bottom: 20px;
        &-partie {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-titre {
            width: 100%;
        }
        &-bloc {
            width: 45%;
        }
        }
        a {
            margin: 60px auto; 
        }
    }
    @media (min-width: $desktop) { /* ---------- MODIF À 1024 DE LARGE ---------- */
        height: auto;
        padding-bottom: 20px;
        &-partie {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-titre {
            width: 100%;
        }
        &-bloc {
            width: 30%;
        }
        }
        a {
            margin: 60px auto; 
        }
    }
}