
/* ---------- BLOC AVEC LES RESTAURANTS PAGE D'ACCUEIL ---------- */

#restaurants {
    height: 1230px;
    background-color: lighten($color-04, 95);
    @media (min-width: $ipad) {
        height: auto;
        padding-bottom: 40px;
    }
}

/* ----- BLOC TITRE + PROPOSITION RESTO ----- */

.choix-resto {
    margin: 0 5%;
    h2 {
        padding: 60px 0 15px 0;
    }
    a {
        text-decoration: none;
        color: $color-04;
        font-family: $font;
    }
    @media (min-width: $ipad) {
        h2 {
            padding: 40px 0 15px 0;
        }
        a {
            width: 48.5%;
            @media (min-width: $desktop) {
                width: 30%;
            }
        }
    }
    @media (min-width: $big-screen) {
        margin: 0 auto;
        max-width: 1400px;
    }
}

/* ----- PROPOSITION DE RESTO ----- */

.propal-resto {
    display: flex;
    flex-direction: column;
    @media (min-width: $ipad) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

/* ----- VIGNETTE RESTO ----- */

.resto {
    height: 250px;
    border-radius: 20px;
    background-color: lighten($color-04, 100);
    margin: 20px 0 0 0; padding: 0;
    box-shadow: lighten($color-04, 70) 0 0 10px;
    &-crop {
        position: relative;
        z-index: 1;
        height: 175px;
        overflow: hidden;
        border-radius: 15px 15px 0 0;
        img {
            width: 105%;
            transform: translate(-2%, -25%);
            @media (min-width: $desktop) {
                transform: translate(-2%, 0%);
            }
            @media (min-width: 1200px) {
                transform: translate(-2%, -20%);
            }
        }
        &-vertical {
            img {
                transform: translate(-2%, -37%);
            }
        }
    }
    &-new { /* ----- BLOC POUR LES NOUVEAUX RESTO ----- */
        position: absolute;
        z-index: 2;
        display: flex;
        justify-content: flex-end;
        width: 90%;
        @media (min-width: $ipad) {
            width: 43.5%;
        }
        @media (min-width: $desktop) {
            width: 27%;
        }
        p {
            margin: 10px;
            padding: 7px 12.5px;
            background-color: $color-03;
            border-radius: 3px;
            font-family: $font;
            font-size: 14px;
            font-weight: 700;
            color: darken($color-03, 40);
        }
    }
    &-info {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px 0 10px;
        &-txt {
            p {
                margin: 0;
                padding-top: 5px;
                font-size: 17px;
                font-weight: 300;
            }
        }
        &-fav {
            font-size: 20px;
            padding-top: 10px;
        }
    }
}