
/* ---------- ANIMATION CHARGEMENT DU SITE ---------- */

/* ----- BARRE CHARGEMENT DU SITE ----- */

@keyframes loading-bar{
    0% {
        transform: scaleY(0);
        opacity: .1;
    }
    17% {
        transform: scaleY(.18);
    }
    24% {
        transform: scaleY(.4);
    }
    46% {
        transform: scaleY(.81);
    }
    85%,100% {
        opacity: 1;
    }
    100% {
        transform: scaleY(1);
    }
}

/* ----- APPARITION DU SITE ----- */

@keyframes start{
    0% {
        transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0);
    }
}

/* ---------------------------------------------------------------- */

/* ---------- ANIMATION REMPLISSAGE DU COEUR ---------- */

@keyframes heart{
    0% {
        background-position: top;
    }

    100% {
        background-position: bottom;
    }
}

/* ---------------------------------------------------------------- */

/* ---------- ANIMATION DU TARIF SÉLECTIONNÉ ---------- */

/* ----- APPARITION BLOC CHECK ----- */

@keyframes choice-in {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-60px);
    }
}

@keyframes choice-out {
    0% {
        transform: translateX(-60px);
    }
    100% {
        transform: translateX(0);
    }
}

/* ----- ROTATION DU CHECK ----- */

@keyframes turn-in {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(2turn);
    }
}

/* ----- CROP AVEC ... DU TEXTE ----- */

@keyframes txt-space-in {
    0% {
        width: 82%;
    }
    100% {
        width: 65%;
    }
}

@keyframes txt-space-out {
    0% {
        width: 65%;
    }
    100% {
        width: 82%;
    }
}

/* ---------------------------------------------------------------- */

/* ---------- APPARITION CHOIX MENU ---------- */

@keyframes bloc-start {
    0% {
        opacity: 0;
        margin-top: 25px;
    }
    100% {
        opacity: 1;
        margin-top: 15px;
    }
}